@import url('https://fonts.googleapis.com/css?family=Roboto:500,500i,700,900&display=swap');

.ok{
    background-color: white;
    margin:0;
    padding: 0;
    background-size: cover;
    width: 100vw;
}

.depan{
    width: 50%;
    padding-top: 5%;
    margin-top: 3%;
    margin-right: 0;
    margin-left: 5%

}

.bg{
    max-width: 100%;
    position: absolute;
    z-index: 1;
    box-shadow: -1px 2px 25px rgba(0,0,0,.15);
}

.col{

    text-align: center;
    margin-left: 8%;
    margin-top: 15%;
    margin-right: 2%;
}

.icon{
    max-width:40%;
    max-height:40%;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: white;
    font-size: 5vw;
    margin: 0;
    padding: 0;
}

p{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 1.5vw;
    margin-top: 20%;
}

.btn{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.2vw;
    margin: 3%;
    color: white;
    border-radius: 25px;
    text-align: center;
    background-color: #07B3B7;
    width: 10vw;

}
