{%extends 'base.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'css/engineer.css' static %}">
    {% if engineers %}
    {% for engineer in engineers %}
    <div class="row" style="margin: 5%">
        <div class="col">
            <h1 style="margin: 2%"> Engineers</h1>
            <div class="card" style="width: 75%">
                <div class="card-body" style="margin: 5%">
                <h2>{{ engineer.namaEngineer }}</h2>
                <h4>{{ engineer.lokasiEngineer }} || {{ engineer.status}}</h4>
                <a href="{{ engineer.pk }}">View Details</a>
          </div>
        </div>
        <a href="{% url 'engineer_create' %}" class="btn">Add Engineer</a>
    {% endfor %}
    {% else %}
    <div class="container">
      <h3>No Engineers, yet.</h3>
    </div>
    {% endif %}
{% endblock %}
  </body>
</html>
