{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Engineer</title>
  </head>
  <body>
    {% block content %}
    <div class="jumbotron bg-light">
      <div class="card mx-auto justify-content-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">New Engineer</h5>
        <form method="POST">{% csrf_token %}
          {{ form.as_p }}
					<button type="submit" class="btn text-light ml-5" style="background-color: #07b3b7; min-width: 50%; font-size: 80%;">Submit</button>
        </form>
      </div>
    </div>
    </div>
    {% endblock %}
  </body>
</html>
