{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- {% load static %}
    <link rel="stylesheet" href="{% static 'css/notOK.css' static %}"> -->
    <title>ERROR FOUND</title>
    <!-- <link rel="stylesheet" href="/Users/alviadibby/Desktop/TK1/bootstrap-4.3.1-dist/css/bootstrap.css"> -->
</head>
<body>
  {% block content %}
    <!-- <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="#"> INI NAVBAR</a>
        </div>
      </nav> -->
      <div class="row notoke">
        <div class="col">

             <img class="icon" src="{% static 'redicon.png' static %}">
             <h1>ERROR FOUND</h1>
             <a href="{% url 'machoverview' %}" class="btn btn-danger">DETAIL</a>
             <!-- <button type="button" class="btn">Details</button> -->
        </div>
      </div>
      {% endblock %}
</body>
</html>
