{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Engineer</title>
  </head>
  <body>
    {% block content %}
    <div class="jumbotron bg-light">
        <div class="card mx-auto justify-content-center" style="width: 18rem;">
          <div class="card-body">
              <h5 class="card-title">New Report</h5>
        <form method="POST">{% csrf_token %}
          {{ formr.as_p }}
          <button type="submit" class="save btn btn-primary">Save</button>
        </form>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
