{%extends 'base.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'css/engineer.css' static %}">
    {% if reports %}
    {% for report in reports %}
    <div class="row" style="margin: 5%">
        <div class="col">
            <h1 style="margin: 2%"> Reports</h1>
            <div class="card" style="width: 75%">
                <div class="card-body" style="margin: 5%">
                <h2>{{ report.namaPembuatReport }}</h2>
                <h4>{{ report.tanggalPembuatan }}</h4>
                <a href="{{ report.pk }}">View Details</a>
          </div>
        </div>
        <a href="{% url 'report_create' %}" class="btn">Add Report</a>
    {% endfor %}
    {% else %}
    <div class="container">
      <h3>No Reports, yet.</h3>
    </div>
    {% endif %}
{% endblock %}
  </body>
</html>
