{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>REPORT DETAILS</title>
</head>
<body>
  {% block content %}
  <link rel="stylesheet" href="{% static 'css/details.css' static %}">
    <div class="row" style="margin: 5%">
        <div class="col">
            <div class="card" style="width: 100%">
                <div class="card-body" style="margin: 5%">
                    <!-- <h2>{{ report.namaEngineer }}</h2> -->
                    <div class="col" style="padding: 0">
                        <div class="row">
                            <div class="col">
                                <h4> Nama Pembuat : </h4>
                            </div>
                            <div class="col">
                                <p> {{ report.namaPembuatReport }} </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h4> Jenis Report : </h4>
                            </div>
                            <div class="col">
                                <p> {{ report.jenisReport }} </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h4> Detail : </h4>
                            </div>
                            <div class="col">
                                <p> {{ report.detailReport }} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" style="text-align: center">
          {% load static %}
          <img class="asset1" src="{% static 'bapak.jpeg' static %}">
        </div>
    </div>
    {% endblock %}
</body>
</html>
